@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Next.js values */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* DecisionWheel */

.roll {
  perspective: 1000px;
  width: 100%;
  height: 300px;
  position: relative;
  margin: auto;
}

.roll_outer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.roll_inner {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 3.5s;
}

.roll_inner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 65%;
  height: 66.5%;
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* test wheel */
/* .roll {
  perspective: 1200px; 
  width: 100%;
  height: 300px;
  position: relative;
  margin: auto;
}

.roll_inner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60%; 
  height: 60%; 
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
} */

button[disabled] {
  cursor: not-allowed;
}

button[disabled]:hover::after {
  content: attr(title);
  position: absolute;
  padding: 4px 8px;
  background: black;
  color: white;
  border-radius: 5px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
